<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="present-alert" routerLink="/alert">Nav Alert</ion-button>
  <ion-button routerLink="/action-sheet">nav action sheet</ion-button>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/ionic.jpg" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>